@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Занято</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/styles.css")">
</head>
<body class="whiteBackground">
    <div id="container">
        <div id="busy">
            <img src="@Url.Content("~/content/img/busy_gamepad.gif")" />
            <h1>Игра окончена</h1>
        </div>
    </div>
</body>
</html>