@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Йоу!</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/styles.css")">
</head>
<body class="whiteBackground">
    <div id="container" >
        <div id="hello">
            <img src="@Url.Content("~/content/img/busy_gamepad.gif")"/>
            <h1>Йоу, секондскрин индахаус</h1>
            <a class="submit" href="mailto:sashulya.konshin@gmail.com">Напишите нам</a>
        </div>
    </div>
</body>
</html>